$mobileS: 374px;
$mobileM: 424px;
$mobileL: 768px;
$tablet: 1023px;
$laptop: 1365px;
$laptopLarge: 1919px;

@mixin mediaXS {
  @media screen and (max-width: #{$mobileS}) {
    @content;
  }
}

@mixin mediaS {
  @media screen and (max-width: #{$mobileM}) {
    @content;
  }
}

@mixin mediaM {
  @media screen and (max-width: #{$mobileL}) {
    @content;
  }
}

@mixin mediaL {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (max-width: #{$laptop}) {
    @content;
  }
}

@mixin mediaXXL {
  @media screen and (max-width: #{$laptopLarge}) {
    @content;
  }
}